<section class="s-block s-block--default-home-slider s-block--full-bg">
    <salla-slider auto-play pagination type="fullwidth">
        <div slot="items">
            {% for banner in component.banner_group %}
        </div>
    </salla-slider>
</section>