{#
| Variable         | Type       | Description                                                         |
|------------------|------------|---------------------------------------------------------------------|
| page             | object     |                                                                     |
| page.title       | string     | *could be html                                                      |
| page.slug        | string     | ex: "cat.show"                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    {% component home %}
    {{ component.title}}
    
    {# {% include 'lilas.lilas' %} #}
    {% for banner in component.fixed_banner %}
    <h2>{{banner.title}}</h2>
    {% endfor %}
    
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}